

body {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0px;
    /*background-color: #ccc;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #91cdd8 74%);*/
    background-color: white;
    /*height: 97vh;*/
    font-family: 'Mulish', sans-serif;
}

/*--------------------MAIN HEADER STYLES--------------------------*/

.main__nav {
    height: 10vh;
    background-color: rgb(224, 221, 221);
    width: 100%;
    height: 10vh;
    position: relative;
}

/*--------------------TOGGLE BUTTON STYLES--------------------------*/

.mob__toggle-items {
    position: absolute;
    cursor: pointer;
    top: 3vh;
    left: 0.4rem;
}

.mob__toggle-item {
    background-color: black;
    color: blue;
    width: 1.5rem;
    margin: 0.2rem;
    height: 3px;
    vertical-align: middle;
}

/*--------------------MOB NAVIGATION STYLES--------------------------*/

.mob__wrapper {
    display: none;
    width: 50%;
    height: 97vh;
    background-color: #ccc;
    position: relative;
    z-index: 100;
    animation: MoveBar 0.5s ease-in;
}

.closebtn {
    position: absolute;
    font-size: 2rem;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.for_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mob__logo__Wrapper {
    width: 60%;
    text-align: center;
    margin-top: 1rem;
}

.mob__logo__anchor {
    width: 100%;
}

.mob__logo {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(100, 58, 58);
    border-radius: 50%;
}

.mob__nav__bar {
    width: 60%;
    text-align: left;
    margin-top: 3rem;
}

.mob__nav__bar-items {
    list-style: none;
}

.mob__nav__bar-item {
    margin: 0.8rem 0px;
    /*transition: transform 0.5s ease-out;
    transform: translateX(16px);*/
}

.mob__nav__bar-item:hover {
    animation: Moveitems 0.5s ease-out;
    animation-fill-mode: both;
}

.mob__nav__bar-item a {
    text-decoration: none;
    color: black;
}

.mob__nav__bar-item a:hover,
.mob__nav__bar-item a:focus {
    color: rgb(123, 123, 207);
}

@keyframes MoveBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes Moveitems {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(16px);
    }
}



/*--------------------DESKTOP NAVIGATION STYLES--------------------------*/

.desk_wrapper {
    display: none;
}

@media (min-width: 40rem) {

    .mob__toggle-items {
        display: none;
    }

    .desk_wrapper {
        display: flex;
        height: 70%;
        padding: 0.4rem;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    
    .desk__logo__Wrapper {
        margin-left: 3rem;
    }
    
    .desk__logo__anchor {
        vertical-align: middle;
        display: flex;
        width: 6.5vh;
        height: 6.5vh;
    }
    
    .desk__logo {
        width: 6vh;
        height: 6vh;
        border: 1px solid rgb(123, 123, 207);
        border-radius: 50%;
    }
    
    
    
    .desk__nav__bar {
    
    }
    
    
    .desk__nav__bar-items {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;
    }

    .desk__nav__bar-item {
        padding: 0.4rem 1.5rem;
    }

    
    .desk__nav__bar-item:hover {
        /*margin: 0px 1.6rem;*/
        border: 1px solid rgb(133, 133, 197);
        padding: 0.4rem 1.5rem;
        background-color: rgb(133, 133, 197);
        border-radius: 1rem;
    }
    
    .desk__nav__bar-items a {
        text-decoration: none;
        color: black;
    }
    
    .desk__nav__bar-items a:hover {
        color: white;
    }

}

/*-------------------------------MAIN BODY STYLES------------------------------*/


.Details__container {
    display: block;
    text-align: center;
    padding-top: 3rem;
}

.Details__img img {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(177, 177, 212);;
    border-radius: 50%;
}